*.orig
.idea
.DS_Store
node_modules
dump.rdb
.nyc_output
apidocs
dist/
api-docs
docs/api-docs
_book
.vscode
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
jspm_packages
.npm
.node_repl_history
.DS_Store
